@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-plus-jakarta);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  font-family: var(--font-plus-jakarta), "Segoe UI", sans-serif;
}
